cocus-code-challenge/.env

edirect-fullstack-test/.env
edirect-fullstack-test/backend/.env
edirect-fullstack-test/frontend/.env

edirectinsure-todo-list/.env
edirectinsure-todo-list/backend/.env
edirectinsure-todo-list/frontend/.env

fintalk-customer-rewards-test/.env

leovegas-test/.env

prosigliere-test/.env

fireflies-backend-test/.env

.DS_Store
