hapiuser-api/node_modules/
microfrontend-sample/node_modules/
edirect-fullstack-test/backend/node_modules/
edirect-fullstack-test/my-gatsby-site/node_modules/
treinamento-graphql/node_modules/
ts-serverless-crud/lambda-ddd/node_modules/
ts-serverless-crud/stepfunctions/node_modules/
cocus-code-challenge/node_modules/
copa-filmes-backend/node_modules/
edirect-todo-list/backend/node_modules/
edirect-todo-list/frontend/node_modules/
fintalk-customer-rewards-test/node_modules/
leovegas-test/node_modules/
prosigliere-test/node_modules/

hapiuser-api/.env
microfrontend-sample/.env
edirect-fullstack-test/backend/.env
edirect-fullstack-test/my-gatsby-site/.env
treinamento-graphql/.env
ts-serverless-crud/lambda-ddd/.env
ts-serverless-crud/stepfunctions/.env
cocus-code-challenge/.env
copa-filmes-backend/.env
edirect-todo-list/backend/.env
edirect-todo-list/frontend/.env
fintalk-customer-rewards-test/.env
leovegas-test/.env
prosigliere-test/.env


hapiuser-api/dist
microfrontend-sample/dist
edirect-fullstack-test/backend/dist
edirect-fullstack-test/my-gatsby-site/dist
treinamento-graphql/dist
ts-serverless-crud/lambda-ddd/dist
ts-serverless-crud/stepfunctions/dist
cocus-code-challenge/dist
copa-filmes-backend/dist
edirect-todo-list/backend/dist
edirect-todo-list/frontend/dist
fintalk-customer-rewards-test/dist
leovegas-test/dist
prosigliere-test/dist
