# Lambda ddd ignore
lambda-ddd/node_modules
lambda-ddd/.webpack
lambda-ddd/.serverless
lambda-ddd/jspm_packages

# Stepfunctions ignore
stepfunctions/node_modules
stepfunctions/.webpack
stepfunctions/.serverless
stepfunctions/jspm_packages
